body {
   padding: 30px;
    color: #5a4b1a;
    font-family: Tahoma;
    font-size: 16px;
    background-color: rgb(146, 228, 121); 
}

.box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffbadc;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding: 0 0 2em 0;
}

fieldset {
    border: none;
    padding: 2em 0;
    border-bottom: 3px solid rgb(92, 92, 139)
}

  .top, textarea, select {
    width: 100%;
    margin: 10px, 0, 0, 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0, 0.5em, 0, 0;
    vertical-align: middle;
}

 .top, textarea {
    background-color: #fccdf5;
    color: rgb(82, 74, 30);
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1rem;
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
    border-color: #9f9ffc;
    min-width: 300px;
    color: white;
}

.check {
    float:right;
    display: block; 
}

legend {
    padding: 2em 0 0 0;
}

.space {
    padding: 5px;
    border: none;
}

.write {
    padding: 2em 0 2em 0;
}

.last {
    padding: 1em;
}