body {
    background-color: rgb(255, 228, 233);
    color: #6495ED;
}

ul {
   padding: 8;
   list-style-type: none;
   display: flex;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #6495ED;
}

li {
    display: inline;
    float: left;
    font-size: 30px;
    padding: 40px;
    border-right: 3px solid #bbb; 
}

li:hover {
    background-color: #e3f2fd;
}

.dropbtn {
    background-color: rgb(255, 228, 233);;
    color: #6495ED;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e3f2fd}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #e3f2fd;
  }

img {
  position: absolute;
  top: 1250px;
  left: 1700px;
  border-radius: 80px;
  padding: 50px;
}

h1 {
    z-index: 5;
    position: absolute;
    top: 450px;
    left: 700px;
    font-family: Copperplate, fantasy;
    font-size: 100px;
    letter-spacing: 4px;
}

  h2 {
    z-index: 1;
    position: absolute;
    top: 1170px;
    left: 300px;
    font-family: Copperplate, fantasy;
    font-size: 100px;
    letter-spacing: 4px;
  }

  p {
    z-index: 1;
    position: absolute;
    top: 1400px;
    left: 100px;
    font-family: Copperplate, fantasy;
    font-size: 30px;
    letter-spacing: 1px;
  }

  p2 {
    z-index: 1;
    position: absolute;
    top: 1700px;
    left: 100px;
    font-family: Copperplate, fantasy;
    font-size: 30px;
    letter-spacing: 1px;
  }

  p3 {
    z-index: 1;
    position: absolute;
    top: 1900px;
    left: 100px;
    font-family: Copperplate, fantasy;
    font-size: 30px;
    letter-spacing: 1px;
  }
