h1 {
    z-index: 5;
    position: absolute;
    top: 450px;
    left: 800px;
    font-family: Copperplate, fantasy;
    font-size: 100px;
    letter-spacing: 4px;
    
}

body {
    background-color: rgb(197, 240, 219);
    color: #61422c;
}

ul {
   padding: 8;
   list-style-type: none;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #61422c;
}

li {
    display: inline;
    float: left;
    font-size: 30px;
    padding: 40px;
    border-right: 3px solid #bbb; 
    
}

li:hover {
    background-color: #e3f2fd;
}

.dropbtn {
    background-color: rgb(197, 240, 219);
    color: #61422c;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e3f2fd}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #e3f2fd;
  }
  
  h2 {
    z-index: 1;
    position: absolute;
    top: 700px;
    left: 1100px;
    font-family: Copperplate, fantasy;
    font-size: 40px;
    letter-spacing: 4px;
  }

  h3 {
    z-index: 1;
    position: absolute;
    top: 1300px;
    left: 1100px;
    font-family: Copperplate, fantasy;
    font-size: 40px;
    letter-spacing: 4px;
  }

  h4 {
    z-index: 1;
    position: absolute;
    top: 1950px;
    left: 1100px;
    font-family: Copperplate, fantasy;
    font-size: 40px;
    letter-spacing: 4px;
  }

  h5 {
    z-index: 1;
    position: absolute;
    top: 2640px;
    left: 1100px;
    font-family: Copperplate, fantasy;
    font-size: 40px;
    letter-spacing: 4px;
  }

  p {
    z-index: 1;
    position: absolute;
    top: 1200px;
    left: 1000px;
    font-family: Copperplate, fantasy;
    font-size: 20px;
    letter-spacing: 1px;
  }

  p2 {
    z-index: 1;
    position: absolute;
    top: 1875px;
    left: 1000px;
    font-family: Copperplate, fantasy;
    font-size: 20px;
    letter-spacing: 1px;
  }

  p3 {
    z-index: 1;
    position: absolute;
    top: 2565px;
    left: 1000px;
    font-family: Copperplate, fantasy;
    font-size: 20px;
    letter-spacing: 1px;
  }

  p4 {
    z-index: 1;
    position: absolute;
    top: 3220px;
    left: 950px;
    font-family: Copperplate, fantasy;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 50px;
  }